* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

main {
  background: #edeef3;
  min-height: 64.5vh;
 /* display: flex;
 justify-content: center;
 align-items: center; */
}
